.elementor-25 .elementor-element.elementor-element-fdc7e1c:not(.elementor-motion-effects-element-type-background),
.elementor-25 .elementor-element.elementor-element-fdc7e1c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FBE5C0;
}

.elementor-25 .elementor-element.elementor-element-fdc7e1c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-25 .elementor-element.elementor-element-fdc7e1c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-25 .elementor-element.elementor-element-b0fbdda>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-25 .elementor-element.elementor-element-b0fbdda>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-25 .elementor-element.elementor-element-3239d25 {
    --spacer-size: 113px;
}

.elementor-25 .elementor-element.elementor-element-6c251a0 {
    --spacer-size: 50px;
}

.elementor-25 .elementor-element.elementor-element-da32901 .elementor-heading-title {
    color: #FEFEFE;
    font-family: "Luckiest Guy", Sans-serif;
    font-size: 64px;
    -webkit-text-stroke-width: 2px;
    stroke-width: 2px;
    -webkit-text-stroke-color: #965300;
    stroke: #965300;
}

.elementor-25 .elementor-element.elementor-element-cf00efb {
    color: #8E4F01;
    font-family: "Luckiest Guy", Sans-serif;
    font-size: 22px;
}

.elementor-25 .elementor-element.elementor-element-375d2e4 {
    --divider-border-style: solid;
    --divider-color: #8E4F01;
    --divider-border-width: 3.6px;
}

.elementor-25 .elementor-element.elementor-element-375d2e4 .elementor-divider-separator {
    width: 67%;
}

.elementor-25 .elementor-element.elementor-element-375d2e4 .elementor-divider {
    padding-top: 19px;
    padding-bottom: 19px;
}

.elementor-25 .elementor-element.elementor-element-08d6425 .elementor-button {
    font-family: "Luckiest Guy", Sans-serif;
    font-size: 29px;
    fill: #8E4F01;
    color: #8E4F01;
    background-color: #FFFFFF;
    border-style: groove;
    border-color: #8E4F01;
    border-radius: 10px 10px 10px 10px;
}

.elementor-25 .elementor-element.elementor-element-08d6425 .elementor-button:hover,
.elementor-25 .elementor-element.elementor-element-08d6425 .elementor-button:focus {
    color: #FFFFFF;
    background-color: #8E4F01;
    border-color: #8E4F01;
}

.elementor-25 .elementor-element.elementor-element-08d6425 .elementor-button:hover svg,
.elementor-25 .elementor-element.elementor-element-08d6425 .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-25 .elementor-element.elementor-element-08d6425>.elementor-widget-container {
    --e-transform-rotateZ: -2deg;
}

.elementor-25 .elementor-element.elementor-element-e3cd85b {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 22px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-25 .elementor-element.elementor-element-e3cd85b .elementor-widget-container {
    text-align: left;
}

.elementor-25 .elementor-element.elementor-element-e3cd85b .elementor-social-icon {
    background-color: #FFFFFF;
    border-style: groove;
    border-color: #8E4F01;
}

.elementor-25 .elementor-element.elementor-element-e3cd85b .elementor-social-icon i {
    color: #8E4F01;
}

.elementor-25 .elementor-element.elementor-element-e3cd85b .elementor-social-icon svg {
    fill: #8E4F01;
}

.elementor-25 .elementor-element.elementor-element-e3cd85b .elementor-social-icon:hover {
    background-color: #8E4F01;
}

.elementor-25 .elementor-element.elementor-element-e3cd85b .elementor-social-icon:hover i {
    color: #FFFFFF;
}

.elementor-25 .elementor-element.elementor-element-e3cd85b .elementor-social-icon:hover svg {
    fill: #FFFFFF;
}

.elementor-25 .elementor-element.elementor-element-97a4553:not(.elementor-motion-effects-element-type-background),
.elementor-25 .elementor-element.elementor-element-97a4553>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FBE5C0;
}

.elementor-25 .elementor-element.elementor-element-97a4553 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-25 .elementor-element.elementor-element-97a4553>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-25 .elementor-element.elementor-element-97a4553>.elementor-shape-bottom .elementor-shape-fill {
    fill: #378D9A;
}

.elementor-25 .elementor-element.elementor-element-97a4553>.elementor-shape-bottom svg {
    width: calc(100% + 1.3px);
    height: 98px;
    transform: translateX(-50%) rotateY(180deg);
}

.elementor-25 .elementor-element.elementor-element-bd2d97c {
    --spacer-size: 50px;
}

.elementor-25 .elementor-element.elementor-element-48fc4d1 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-25 .elementor-element.elementor-element-48fc4d1 .elementor-icon {
    font-size: 255px;
}

.elementor-25 .elementor-element.elementor-element-48fc4d1 .elementor-icon svg {
    height: 255px;
}

.elementor-25 .elementor-element.elementor-element-b37dde3 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-25 .elementor-element.elementor-element-b37dde3 .elementor-icon {
    font-size: 255px;
}

.elementor-25 .elementor-element.elementor-element-b37dde3 .elementor-icon svg {
    height: 255px;
}

.elementor-25 .elementor-element.elementor-element-bedd0f7 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-25 .elementor-element.elementor-element-bedd0f7 .elementor-icon {
    font-size: 255px;
}

.elementor-25 .elementor-element.elementor-element-bedd0f7 .elementor-icon svg {
    height: 255px;
}

.elementor-25 .elementor-element.elementor-element-31bc6e4 {
    --spacer-size: 99px;
}

.elementor-25 .elementor-element.elementor-element-38a1453:not(.elementor-motion-effects-element-type-background),
.elementor-25 .elementor-element.elementor-element-38a1453>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #378D9A;
}

.elementor-25 .elementor-element.elementor-element-38a1453 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-25 .elementor-element.elementor-element-38a1453>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-25 .elementor-element.elementor-element-38a1453>.elementor-shape-bottom .elementor-shape-fill {
    fill: #FBE5C0;
}

.elementor-25 .elementor-element.elementor-element-0222bb7 {
    --spacer-size: 50px;
}

.elementor-25 .elementor-element.elementor-element-51f9209 {
    text-align: center;
}

.elementor-25 .elementor-element.elementor-element-51f9209 .elementor-heading-title {
    color: #FEFEFE;
    font-family: "Luckiest Guy", Sans-serif;
    font-size: 80px;
    -webkit-text-stroke-width: 2px;
    stroke-width: 2px;
    -webkit-text-stroke-color: #965300;
    stroke: #965300;
}

.elementor-25 .elementor-element.elementor-element-ecae9a5 {
    --spacer-size: 24px;
}

.elementor-25 .elementor-element.elementor-element-9b5ae4c {
    --spacer-size: 93px;
}

.elementor-25 .elementor-element.elementor-element-ea6ed15 {
    color: #FFFFFF;
    font-family: "Luckiest Guy", Sans-serif;
    font-size: 22px;
}

.elementor-25 .elementor-element.elementor-element-2db5614 .elementor-button {
    font-family: "Luckiest Guy", Sans-serif;
    font-size: 29px;
    fill: #8E4F01;
    color: #8E4F01;
    background-color: #FFFFFF;
    border-style: groove;
    border-color: #8E4F01;
    border-radius: 10px 10px 10px 10px;
}

.elementor-25 .elementor-element.elementor-element-2db5614 .elementor-button:hover,
.elementor-25 .elementor-element.elementor-element-2db5614 .elementor-button:focus {
    color: #FFFFFF;
    background-color: #8E4F01;
    border-color: #8E4F01;
}

.elementor-25 .elementor-element.elementor-element-2db5614 .elementor-button:hover svg,
.elementor-25 .elementor-element.elementor-element-2db5614 .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-25 .elementor-element.elementor-element-2db5614>.elementor-widget-container {
    --e-transform-rotateZ: 2deg;
}

.elementor-25 .elementor-element.elementor-element-8cc13d2 {
    --spacer-size: 50px;
}

.elementor-25 .elementor-element.elementor-element-399c658:not(.elementor-motion-effects-element-type-background),
.elementor-25 .elementor-element.elementor-element-399c658>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FBE5C0;
}

.elementor-25 .elementor-element.elementor-element-399c658 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-25 .elementor-element.elementor-element-399c658>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-25 .elementor-element.elementor-element-d9e594b {
    text-align: center;
}

.elementor-25 .elementor-element.elementor-element-d9e594b .elementor-heading-title {
    color: #FEFEFE;
    font-family: "Luckiest Guy", Sans-serif;
    font-size: 80px;
    -webkit-text-stroke-width: 2px;
    stroke-width: 2px;
    -webkit-text-stroke-color: #965300;
    stroke: #965300;
}

.elementor-25 .elementor-element.elementor-element-eadb2bf .elementor-button {
    font-family: "Luckiest Guy", Sans-serif;
    font-size: 37px;
    fill: #8E4F01;
    color: #8E4F01;
    background-color: #FFFFFF;
    border-style: groove;
    border-color: #8E4F01;
    border-radius: 10px 10px 10px 10px;
}

.elementor-25 .elementor-element.elementor-element-eadb2bf .elementor-button:hover,
.elementor-25 .elementor-element.elementor-element-eadb2bf .elementor-button:focus {
    color: #FFFFFF;
    background-color: #8E4F01;
    border-color: #8E4F01;
}

.elementor-25 .elementor-element.elementor-element-eadb2bf .elementor-button:hover svg,
.elementor-25 .elementor-element.elementor-element-eadb2bf .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-25 .elementor-element.elementor-element-eadb2bf>.elementor-widget-container {
    --e-transform-rotateZ: -2deg;
}

.elementor-25 .elementor-element.elementor-element-6d1eab3 {
    --spacer-size: 50px;
}

.elementor-25 .elementor-element.elementor-element-33fb587 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 28px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-25 .elementor-element.elementor-element-33fb587 .elementor-widget-container {
    text-align: center;
}

.elementor-25 .elementor-element.elementor-element-33fb587 .elementor-social-icon {
    background-color: #FFFFFF;
    border-style: groove;
    border-color: #8E4F01;
}

.elementor-25 .elementor-element.elementor-element-33fb587 .elementor-social-icon i {
    color: #8E4F01;
}

.elementor-25 .elementor-element.elementor-element-33fb587 .elementor-social-icon svg {
    fill: #8E4F01;
}

.elementor-25 .elementor-element.elementor-element-33fb587 .elementor-social-icon:hover {
    background-color: #8E4F01;
}

.elementor-25 .elementor-element.elementor-element-33fb587 .elementor-social-icon:hover i {
    color: #FFFFFF;
}

.elementor-25 .elementor-element.elementor-element-33fb587 .elementor-social-icon:hover svg {
    fill: #FFFFFF;
}

.elementor-25 .elementor-element.elementor-element-b47149b {
    --spacer-size: 50px;
}

@media(max-width:767px) {
    .elementor-25 .elementor-element.elementor-element-3239d25 {
        --spacer-size: 105px;
    }
    .elementor-25 .elementor-element.elementor-element-da32901 {
        text-align: center;
    }
    .elementor-25 .elementor-element.elementor-element-da32901 .elementor-heading-title {
        font-size: 53px;
    }
    .elementor-25 .elementor-element.elementor-element-cf00efb {
        text-align: center;
    }
    .elementor-25 .elementor-element.elementor-element-375d2e4 .elementor-divider {
        text-align: center;
    }
    .elementor-25 .elementor-element.elementor-element-375d2e4 .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }
    .elementor-25 .elementor-element.elementor-element-e3cd85b .elementor-widget-container {
        text-align: center;
    }
    .elementor-25 .elementor-element.elementor-element-51f9209 {
        text-align: center;
    }
    .elementor-25 .elementor-element.elementor-element-51f9209 .elementor-heading-title {
        font-size: 53px;
    }
    .elementor-25 .elementor-element.elementor-element-9b5ae4c {
        --spacer-size: 10px;
    }
    .elementor-25 .elementor-element.elementor-element-ea6ed15 {
        text-align: center;
    }
    .elementor-25 .elementor-element.elementor-element-d9e594b {
        text-align: center;
    }
    .elementor-25 .elementor-element.elementor-element-d9e594b .elementor-heading-title {
        font-size: 53px;
    }
    .elementor-25 .elementor-element.elementor-element-33fb587 .elementor-widget-container {
        text-align: center;
    }
}